<p>test works!</p>

<form #personForm="ngForm">
    {{personForm.value | json}}
    <br>
    {{person | json}}
<table>
    <tr>
        <td><label for="">Id</label></td>
        <td><input type="text" [(ngModel)]="person.id" name="txtId"></td>
    </tr>
    <tr>
        <td><label for="">Name</label></td>
        <td><input type="text" [(ngModel)]="person.name" name="txtName"></td>
    </tr>
    <tr>
        <td><label for="">Salary</label></td>
        <td><input type="text" [(ngModel)]="person.salary" name="txtSalary"></td>
    </tr>
    <tr>
        <td><label for="">Grade</label></td>
        <td><input type="text" [(ngModel)]="person.grade" name="txtGrade"></td>
    </tr>
    <tr>
        <td colspan="2">
            <button (click)="printInput()">Add</button>
        </td>
    </tr>
</table>
</form>

