<p>test works!</p>

Company name is {{name}}
<br>
lowercase is {{name|lowercase}}
<br>
uppercase is {{name|uppercase}}
<br>
substring is {{name|slice:3:6}}
<br>
{{person|json}}
<br>
{{5.678 | number:'1.2-3'}}<br>
{{5.678 | number:'3.4-5'}}<br>
{{5.678 | number:'3.1-1'}}
<br>

{{0.25|percent}} <br>
{{0.25|currency}} <br>
{{0.25|currency:'GBP'}} <br>

{{today}} <br>
{{today|date:'shortDate'}} <br>
{{today|date:'shortTime'}} <br>
{{today|date:'short'}} <br>
{{today|date:'medium'}} <br>
{{today|date:'long'}} <br>


